.side-bar
  .header
    %h3.header__name
      古橋正明
    %ul.header__lists
      %li.list
        = link_to new_group_path do
          = icon('fa', 'edit',class: 'icon')
      %li.list
        = link_to edit_group_path(current_user) do
          = icon('fa', 'cog',class: 'icon')
  .groups
    .group
      .group__name
        グループ名
      .group__message
        新着メッセージ
    .group
      .group__name
        グループ名
      .group__message
        新着メッセージ
    .group
      .group__name
        グループ名
      .group__message
        新着メッセージ