.side-bar {
  box-sizing: border-box;
  color: $white;
  width: 300px;
  .header {
    .top-items {
      // display: inline-block;
      font-size: $side_header_font;
      display: flex;
      justify-content: space-between;
      width: 100%;
      font-weight: bold;
      
      .top-items__icons {
        a{
          color: #ffffff;
        }
        .icon {
          color: $white;
          font-size: $side_header_font;
        }
      }
    }

    background-color: $side_blue_dark;
    height: 100px;
    line-height: 100px;
    padding: 0 20px;
    
    // }
    &__lists {
      display: inline-block;
      float: right;
      .list {
        display: inline-block;
      }
    }
  }

  .side-bar__groups-list{
    background-color: $side_blue_light;
    color: white;
    height: calc(100vh - 100px);
    padding: 0 20px;
    .group {
      box-sizing: border-box;
      padding: 20px 0 40px;
      &__name {
        color: $white;
        font-size: $side_group_name;
      }
      &__message {
        color: $white;
        font-size: $side_group_message;
        margin-top: 5px;
      }
    }
  }
}
